
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<THLab3BTVN.Models.Product>
@{
    ViewData["Title"] = "_PartialMenu";
}

<div class="card container p-2 border-2 border-primary">
    <div class="mb-3 border border-2 border-primary">
        <div class="card-header bg-primary text-white">Danh mục sản phẩm</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Áo dài</li>
            <li class="list-group-item">Áo đông</li>
            <li class="list-group-item">Túi xách</li>
            <li class="list-group-item">Đồng hồ</li>
            <li class="list-group-item">Ví da</li>
            <li class="list-group-item">Tivi</li>
            <li class="list-group-item">Tủ lạnh</li>
        </ul>
    </div>
    <img src="/images/quangcao.jpg" alt="Quang cao" style="width: 100%;"/>
</div>