@{
    Layout = "my_layout";

    ViewData["Title"] = "Home Page";
}

<partial name="Banner" />
<hr />

<button id="loadAjax" class="btn btn-sm btn-primary">Click load book to partialResult</button>
<hr />

<div id="data-from-ajax" class="row">Loading data...</div>
<hr />

<h2>Popular Book Load tu BookComponent</h2>
@await Component.InvokeAsync("Book")

@section Scripts {
    <script>
        $('#loadAjax').click(function() {
            $('#data-from-ajax').load("/Book/PopularBook");
        })
    </script>
}