@{
    ViewData["Title"] = "Home Page";
}


<!-- Banner -->
<div class="banner-img"></div>

<div id="nwr_container" class="container mt-3">
    <div class="row">
        <!-- Main Content -->
        <main class="col-lg-9">
            <div class="card text-light mb-3" style="background-color: #161a22;">
                <div class="card-body">
                    <div class="container my-4">
                        <div class="mb-3" style="flex-grow: 1;">
                            <h2>Home</h2>
                        </div>

                        <div class="p-5 rounded text-center text-light myBorder"
                                style="background-image: url('/images/containerBackground.jpg');
                                    background-size: cover;
                                    background-position: center;
                                    min-height: 250px;
                                    margin-bottom: 20px;">
                            <div class="mb-3"
                                    style="background-image: url('/images/NewWorldRecordLogo.png');
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        min-height: 250px;">
                                </div>
                            <p class="fw-bold fs-5">NewWorldRecord Wiki</p>
                        </div>

                        <!-- Box 1 -->
                        <div class="card mb-4 bg-dark text-light border-primary">
                            <div class="card-header bg-primary text-white fw-bold nwrBorder">
                                About the Game
                            </div>
                            <div class="card-body">
                                <p><em>NewWorldRecord</em> is a story-rich open-world action RPG with a high degree of freedom from <a href="#" class="text-info">UniBranch</a>. You wake from your slumber as ?, joined by a vibrant cast of Character on a journey to reclaim your lost memories and surmount the Lament.</p>
                                <p>This wiki is an English resource for information about the Global version of the game. There are <strong>unmarked spoilers</strong> on this wiki.</p>
                                <p class="fw-bold text-center">
                                    Please read the <a href="/Community/Forums" class="text-info">Community Page</a> and <a href="#" class="text-info">Rules</a> before editing and discussing!
                                </p>
                            </div>
                        </div>

                        <!-- Box 2 -->
                        <div class="card mb-4 bg-dark text-light border-primary">
                            <div class="card-header bg-primary text-white fw-bold nwrBorder">
                                Version 1.0 Highlights
                            </div>
                            <div class="card-body text-center">
                                <div class="row g-3">
                                    <div class="col-6 col-md-3">
                                        <img src="/images/tempcharacter.jpg" class="img-fluid rounded" style="height: 300px;" alt="Character 1">
                                        <p class="mt-2">New 5★ Character<br><a href="#" class="text-info">Virtual Character</a></p>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="/images/tempcharacter2.jpg" class="img-fluid rounded" style="height: 300px;" alt="Character 2">
                                        <p class="mt-2">New 5★ Character<br><a href="#" class="text-info">Virtual Character</a></p>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="/images/tempweapon.jpg" class="img-fluid rounded" style="height: 300px;" alt="Weapon">
                                        <p class="mt-2">New 4★ Weapon<br><a href="#" class="text-info">Virtual Weapon</a></p>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="/images/tempweapon2.jpg" class="img-fluid rounded" style="height: 300px;" alt="Weapon">
                                        <p class="mt-2">New 4★ Weapon<br><a href="#" class="text-info">Virtual Weapon</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Sidebar -->
        <aside class="col-lg-3">
            <div class="card text-light mb-3" style="background-color: #161a22;">
                <div class="card-header">Discord</div>
                <div class="card-body">
                    <p>Join our community!</p>
                    <a href="https://discord.com/channels/1036640488100470794/1036640488876421202" class="btn btn-primary w-100">Join Now</a>
                </div>
            </div>

            <div class="card text-light mb-3" style="background-color: #161a22;">
                <div class="card-header">Latest Edits</div>
                <div class="card-body">
                    <p>28 August 2025</p>
                    <p>Added Characters page</p>
                </div>
            </div>
        </aside>
    </div>
</div>

